  body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #282828;
            margin: 0;
            overflow: hidden;
        }

        .mandala {
            position: relative;
            width: 450px;
            height: 450px;
        }

        .mandala > div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .bg-shape-container {
            width: 400px;
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1; 
        }

        .bg-lobe-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .bg-lobe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: bottom center;
            
        }
        .outer2 .bg-lobe {
          
            width: 300px; 
            height: 300px;
            background-color: #f2fa0c; 
            border-radius: 50%;
            top: 50%;
            left: 50%;
            z-index: -2;
            overflow: hidden;
            transform: translate(-50%, -50%) translateY(-100px) rotate(22.5deg); 
        }
        .outer3 .bg-lobe {
            
            width: 280px; 
            height: 280px;
            background-color:#3DD020;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translateY(-100px) rotate(45deg); 
        }
        
      
        .bg-lobe-wrapper:nth-child(1) { transform: rotate(0deg); }
        .bg-lobe-wrapper:nth-child(2) { transform: rotate(60deg); }
        .bg-lobe-wrapper:nth-child(3) { transform: rotate(120deg); }
        .bg-lobe-wrapper:nth-child(4) { transform: rotate(180deg); }
        .bg-lobe-wrapper:nth-child(5) { transform: rotate(240deg); }
        .bg-lobe-wrapper:nth-child(6) { transform: rotate(300deg); }


        
        .petal-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .petal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: bottom center;
        }
        
        .outer .petal {
            width: 100px;
            height: 140px;
            border-radius: 50%;
            transform: translate(-50%, -100%) translateY(-90px);
            border: 1px solid #795548;
            z-index: 2;
        }
        .outer1 .petal {
            width: 100px;
            height: 140px;
            border-radius: 50%;
            transform: translate(-50%, -100%) translateY(-90px) rotate(30deg);
            border: 1px solid #795548;
            z-index: 3;
        }
        .inner1 .petal {
            width: 67.5px;
            height: 105px;
            background: #FFA726;
            border: 1px solid #795548;
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
            transform: translate(-50%, -100%) translateY(-40px) rotate(-45deg);
            z-index: 4;
        }
        
        .inner .petal {
            width: 67.5px;
            height: 105px;
            background: #FFA726;
            border: 1px solid #795548;
            border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
            transform: translate(-50%, -100%) translateY(-40px) rotate(-30deg);
            z-index: 4;
        }
        
        .petal-wrapper:nth-child(even) .petal {
            background: #E9F00C; 
        }
        .petal-wrapper:nth-child(odd) .petal {
            background:#FF990B; 
        }
        
        .center-disc {
            width: 100px;
            height: 100px;
             background: repeating-conic-gradient(#33691E 0.5% 1.5%,   #AED581 0.5% 1.8% );
            border-radius: 50%;
            border: 3px solid #FFEB3B;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            z-index: 5;
        }

        
        .petal-wrapper:nth-child(1)  { transform: rotate(0deg); }
        .petal-wrapper:nth-child(2)  { transform: rotate(30deg); }
        .petal-wrapper:nth-child(3)  { transform: rotate(60deg); }
        .petal-wrapper:nth-child(4)  { transform: rotate(90deg); }
        .petal-wrapper:nth-child(5)  { transform: rotate(120deg); }
        .petal-wrapper:nth-child(6)  { transform: rotate(150deg); }
        .petal-wrapper:nth-child(7)  { transform: rotate(180deg); }
        .petal-wrapper:nth-child(8)  { transform: rotate(210deg); }
        .petal-wrapper:nth-child(9)  { transform: rotate(240deg); }
        .petal-wrapper:nth-child(10) { transform: rotate(270deg); }
        .petal-wrapper:nth-child(11) { transform: rotate(300deg); }
        .petal-wrapper:nth-child(12) { transform: rotate(330deg); }
        
